/* ====common css start here===== */

@charset "utf-8";

:root{

    --color-main: #1B1B1B; 

    --color-blue: #1B80B9; 

    --color-black: #1B1B1B;

    --color-dark: #232B2E;

    --color-white: #fff;

    --color-gray: #7D7C80;



    --body-font:'Outfit', sans-serif;

    --heading-font:'Outfit', sans-serif;

    --subheading-font:'Outfit', sans-serif;

    --btn-font:'Outfit', sans-serif;

}

html {

    scroll-behavior: smooth;

}

* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;} 

/* ------Scrollbar CSS Start----- */

/* Firefox */

* {

    scrollbar-width: auto;

    scrollbar-color: var(--color-main) var(--color-white);

}



/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {

    width: 8px;

}



*::-webkit-scrollbar-track {

    background: var(--color-white);

}



*::-webkit-scrollbar-thumb {

    background-color: var(--color-main);

    border-radius: 8px;

    border: 1px solid var(--color-white);

}

/* ------Scrollbar CSS End----- */

body {

    margin: 0;

    padding: 0;

    font-size: 15px;

    line-height: 23px;

    color: #1E1D1D;

    font-weight: 400;

    font-family: var(--body-font); 

}



html, body {

    overflow-x: hidden;

} 

p {

    margin: 0 0 15px;

    padding: 0;

}

p:last-child {

    margin-bottom: 0;

} 

a {

    color: var(--color-main);

    display: inline-block;

    outline: none !important;

    vertical-align: top;

    text-decoration: none;

    -webkit-transition: all 300ms ease-in-out;

    -moz-transition: all 300ms ease-in-out;

    transition: all 300ms ease-in-out;

}

a:hover, a:focus {

    color: var(--color-black);

    text-decoration: none;

} 

figure {

    margin: 0;

    padding: 0;

    display: block;

} 

.error-404{padding-top: 180px; padding-bottom: 120px;}



img {

    max-width: 100%;

    display: inline-block;

    vertical-align: top;

}

.sec-space {

    padding: 50px 0;

}

.big-gap {

    padding: 70px 0;

}

.gap-bottom{

    grid-row-gap: 30px;

}

h1, h2, .heading {

    font-family: var(--heading-font);

    color: var(--color-dark);

    font-size: 30px;

    line-height: normal;

    font-weight: 500;

    text-transform: capitalize;

    position: relative;

    margin-bottom: 20px;

    letter-spacing: 0;

}

h1 strong, h2 strong, .heading strong{

    font-weight: inherit;

    color: var(--color-main); 

    font-family: 'Great Vibes', cursive;

}

h1{font-size: 40px;}

.head-border{

    font-size: 13px; line-height: normal;

    font-weight: 500; margin-bottom: 10px !important;

    color: var(--color-main);

}

.es_subscription_message.success { 

    font-size: 15px; 

    display: block;

    padding: 10px;

    padding: 10px;

}

.head-border::after{

    background-color: var(--color-green);

    content: "";

    display: inline-block;

    width: 35px;

    height: 2px;

    vertical-align: super;

    margin-left: 11px;

} 

.small-head strong{

    color: var(--color-purpal);

    letter-spacing: 0;

    text-transform: uppercase;

    font-size: 15px;

    display: block;

    margin-bottom: 5px;

    font-weight: 400;

}

h3, h4, h5, .subheading {

    font-family: var(--subheading-font); 

    color: var(--color-dark);

    font-size: 18px;

    line-height: normal;

    font-weight: 500;

    text-transform: capitalize;

}  

.form-control {

    height: 50px;

    border: 1px solid #E1E1E1;

    padding: 10px 15px;

    background-color: var(--color-white);

    font-size: 12px;

    color: var(--color-black);

    letter-spacing: 0.84px;

    font-weight: 500;

    letter-spacing: 0;

    border-radius: 0;

    box-shadow: none !important;

    font-family: var(--body-font); 

}

textarea.form-control{

    height: 90px;

    resize: none;

}

.form-control::placeholder {

    color: var(--color-black); 

    font-family: var(--body-font);  

    letter-spacing: 0.84px;

    text-transform: uppercase;

}

.btn-center, .btn-left, .btn-right{margin-top: 30px;}

.btn{

    -webkit-border-radius: 26px;

    -moz-border-radius: 26px;

    border-radius: 26px;

    border: 1px solid var(--color-dark);

    text-align: center;

    font-size: 13px;

    font-weight: 400;

    text-transform: uppercase;

    padding: 0 20px;

    outline: none; 

    font-family: var(--btn-font);

    letter-spacing: 1px;

    color: var(--color-dark);

    position: relative;

    height: 40px;

    line-height: 38px;

    min-width: 110px;

    z-index: 1;

    overflow: hidden;

    background-color:var(--color-white);

}

.btn.btn-white{

    color: var(--color-white);

    border-color: var(--color-white);

    box-shadow: -3px 3px 0 var(--color-white);

}

.btn.btn-white:hover{

    color: var(--color-white);

    border-color: var(--color-green);

    background-color: var(--color-green);

    box-shadow: 3px -3px 0 var(--color-main);

} 

.btn.btn-sm {

    height: 36px;

    font-size: 12px;

    min-width: 90px;

    padding: 0 15px;

}  

.btn .fa {

    margin-left: 8px;

    flex-shrink: 0;

}



.btn img {

    width: 14px !important;

    margin-left: 10px;

}  



.btn:hover { 

    color: var(--color-white);

    border-color: var(--color-main);

    background-color: var(--color-black);

    box-shadow: 3px -3px 0 var(--color-gray);

}



.btn.btn-lg {

    height: 50px;

} 

/* ========================

        Owl Nav Style

=========================== */

.owl-carousel .owl-nav [class*="owl-"] {

    position: absolute;

    left: 0;

    top: 50%;

    transform: translateY(-50%);

    box-shadow: none;

    outline: none;

    font-size: 30px !important;

    width: 40px;

    height: 40px;

    display: flex;

    align-items: center;

    justify-content: center;

    background: #c29467 !important;

    border: 1px solid #c29467;

    color: #000 !important;

    border-radius: 0;

} 

.owl-carousel .owl-nav .owl-next {

    left: auto;

    right: 0;

} 

/* =================scroll top css start here================ */

.go-top {

    bottom: 10px;

    opacity: 0;

    visibility: visible;

    right: 10px;

    border-radius: 100%;

    z-index: 9;

    background: #1B1B1B;

    display: inline-block;

    width: 40px;

    height: 40px;

    line-height: 30px;

    text-align: center;

    color: #fff;

    position: fixed;

    cursor: pointer;

}



.go-top::before {

    content: '';

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    z-index: -1;

    background-image: -moz-linear-gradient(0deg, #1B1B1B 0%, #c1282a 100%);

    background-image: linear-gradient(to right, #00132b 0%, #00132b 100%);

    background-image: -ms-linear-gradient(0deg, #1B1B1B 0%, #c1282a 100%);

    opacity: 0;

    visibility: hidden;

    -webkit-transition: all 0.5s ease-out 0s;

    -moz-transition: all 0.5s ease-out 0s;

    -ms-transition: all 0.5s ease-out 0s;

    -o-transition: all 0.5s ease-out 0s;

    transition: all 0.5s ease-out 0s;

    border-radius: 100%;

}



.go-top::after {

    z-index: -1;

    content: "";

    position: absolute;

    left: 3px;

    top: 3px;

    width: 35px;

    height: 35px;

    -webkit-animation: ripple 1.6s ease-out infinite;

    -moz-animation: ripple 1.6s ease-out infinite;

    -o-animation: ripple 1.6s ease-out infinite;

    animation: ripple 1.6s ease-out infinite;

    opacity: 0;

    background-image: -webkit-linear-gradient(0deg, #1B1B1B 0%, #1B1B1B 100%);

    border-radius: 100%;

}



.go-top i {

    font-size: 20px;

    font-weight: 700;

    padding-left: 4px;

    color: #fff;

    position: absolute;

    top: 50%;

    left: -4px;

    right: 0;

    margin: 0 auto;

    -webkit-transform: translateY(-50%);

    -moz-transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    -o-transform: translateY(-50%);

    transform: translateY(-50%);

    -webkit-transition: all 0.5s ease-out 0s;

    -moz-transition: all 0.5s ease-out 0s;

    -ms-transition: all 0.5s ease-out 0s;

    -o-transition: all 0.5s ease-out 0s;

    transition: all 0.5s ease-out 0s;

}



.go-top i:last-child {

    opacity: 0;

    visibility: hidden;

    top: 60%;

}



.go-top:focus i:last-child,

.go-top:hover i:last-child {

    opacity: 1;

    visibility: visible;

    top: 50%;

}



.go-top:focus i:first-child,

.go-top:hover i:first-child {

    opacity: 0;

    top: 0;

    visibility: hidden;

}



@keyframes ripple {



    0%,

    35% {

        -webkit-transform: scale(0);

        -moz-transform: scale(0);

        -ms-transform: scale(0);

        -o-transform: scale(0);

        transform: scale(0);

        opacity: 1;

    }



    50% {

        -webkit-transform: scale(1.5);

        -moz-transform: scale(1.5);

        -ms-transform: scale(1.5);

        -o-transform: scale(1.5);

        transform: scale(1.5);

        opacity: 0.8;

    }



    100% {

        opacity: 0;

        -webkit-transform: scale(2);

        -moz-transform: scale(2);

        -ms-transform: scale(2);

        -o-transform: scale(2);

        transform: scale(2);

    }

}

/* =scroll top css start here=*/



/* =============common css end here=============== */



/* ---------------01.Header-Start----------------- */

.headerMain {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    padding: 10px 0;  

    z-index: 999;

    background-color: rgb(255, 255, 255, 0.9);

}

.home .headerMain{

    position: relative;

    background-color: var(--color-white);

}

.hbtn{

    display: flex;

}

.hbtn span{ 

    width: 100%;

    display: block;

    letter-spacing: 0.48px;

    color: #7D7C80;

    font-size: 12px; line-height: 14px;

}

.hphone-icon{

    width: 36px;height: 36px;

    display: inline-flex;

    align-items: center;

    justify-content: center;

    background-color: var(--color-black);

    border-radius: 100%;

    flex-shrink: 0;

    margin-right: 10px;

}

.hphone-icon a{
	padding-top: 5px;
}

.hbtn a{

    color: var(--color-black);

    font-family: var(--body-font);

    font-weight: 700;

}

.hbtn a:hover{color: var(--color-gray);}

.navbar-brand {

    max-width: 62px; 

    padding: 0; 

}

.navbar {

    padding: 0;

} 

.nav-menu ul {

    list-style: none;

    margin: 0;

    padding: 0;

    display: flex;

    flex-wrap: wrap;

} 

.navbar-collapse ul li a{

    color: var(--color-gray);

    font-size: 15px;

    line-height: normal;

    font-weight: 500 !important;

    letter-spacing: 0px; 

    opacity: 1;

    position: relative;

    text-transform: capitalize;

    font-family: var(--body-font) !important; 

    padding: 2px 8px !important;

} 

.navbar-collapse ul li:not(:last-child) {

    margin-right: 20px !important;

}  

.navbar-collapse ul li.active a, .navbar-collapse ul li a:hover {

    color: var(--color-black);

}



.navbar-collapse ul li {

    padding: 18px 0 !important;

    position: relative;

}

  



.navbar-light .navbar-nav .active>.nav-link,

.navbar-light .navbar-nav .nav-link.active,

.navbar-light .navbar-nav .nav-link.show,

.navbar-light .navbar-nav .show>.nav-link {

    color: #fff;

}

/* ======dropdown menu design======== */

.navbar-collapse ul li.menu-item-has-children .fa{

    position: absolute;

    font-size: 11px;

    top: 23px;

    right: 0;

    pointer-events: none;

    color: #fff;

}

.navbar-collapse ul li.menu-item-has-children a{padding-right: 10px !important;}

.sub-menu{ background: #3e3e3e; z-index: 1; list-style: none; padding: 10px; }

.navbar-collapse ul li .sub-menu li{margin: 0 !important; padding: 0 !important;}

.navbar-collapse ul li .sub-menu li a{display: block; padding: 7px 0 !important;}

.navbar-collapse ul li .sub-menu li a::before{width: 0; left: 0; right: auto;}

.navbar-collapse ul li .sub-menu li a:hover::before{width: 100%;} 

@media screen and (min-width:992px){

    

    .navbar-collapse ul li:hover .sub-menu{opacity: 1; top: 100%; visibility: visible; z-index: 9; top: 100%;}

    .sub-menu{

        opacity: 0; visibility: hidden; position: absolute; top: 80%;

        transition: all 300ms ease-in-out;

        left: 0;

        width: 170px;

    }

    .navbar-nav .dropdown-menu{

        background: var(--color-main);

        top: 42px !important; 

        display: block !important;

        opacity: 0; padding: 15px;

        visibility: hidden;

        transition: all 300ms ease-in-out;

        transform: scale(0.5);

        transform-origin: left top;

    } 

    .dropdown-menu.show {

        display: block;

        top: 50px !important;

        opacity: 1; 

        visibility: visible;

        transform: scale(1); 

    }

    .navbar-nav .dropdown-menu::before{

        content: "";

        position: absolute;

        top: -13px;

        left: 15px;

        width: 0;

        height: 0;

        border-style: solid;

        border-width: 0 12px 13px 12px;

        border-color: transparent transparent var(--color-green) transparent;

    

    }

} 



/* =============== */

 

/* Sticky Header start */

.sticky .headerMain{

    position: fixed;

    -webkit-box-shadow: 0 0 50px rgb(0 0 0 / 10%);

    -moz-box-shadow: 0 0 50px rgb(0 0 0 / 10%);

    box-shadow: 0 0 50px rgb(0 0 0 / 10%);



    -webkit-animation-duration: 1s;

    animation-duration: 1s;

    -webkit-animation-fill-mode: both;

    animation-fill-mode: both;

    z-index: 999;

    background-color: var(--color-white);

}

.sticky .headerMain{

    -webkit-animation-name: fadeInDown;

    animation-name: fadeInDown;

} 

@-webkit-keyframes fadeInDown {

    0% {

        opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); 

    }

    100% {

        opacity: 1; -webkit-transform: none; transform: none; 

    }

}

@keyframes fadeInDown {

    0% { 

        opacity: 0; -webkit-transform: translate3d(0, -100%, 0); -ms-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); 

    }

    100% { 

        opacity: 1; -webkit-transform: none; -ms-transform: none; transform: none; 

    }

}  

.sticky .navbar-brand{

    max-width: 40px;

}

/* Sticky Header End */

/* ---------------01.Header-End----------------- */  

select.form-control:not([size]):not([multiple]) {

    height: 46px !important;

    padding: 0 20px;

    background: #fff url(../images/select.svg) no-repeat center right 10px;

    appearance: none;

    background-size: 14px;

}  

.overlay {

    position: fixed;

    width: 100%;

    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    left: 0;

    top: 0;

    z-index: 9;

    opacity: 0;

    visibility: hidden;

    transition: all 300ms ease-in-out;

}



.close-slide-menu {

    position: absolute;

    left: -24px;

    top: 50%;

    cursor: pointer;

}





.loginpage {

    padding: 60px 0;

}



.labelhead {

    flex-shrink: 0;

    margin-right: 10px;

    font-weight: 600;

    font-size: 16px;

    line-height: normal;

    color: #9A9A9A;

}



/* ===BANNER==== */

.click-to-bottom{ 

    z-index: 9;

    position: absolute;

    margin-top: -40px;

    text-align: center;

    left: 0;

    right: 0;

    /* -webkit-animation: sdb04 2s infinite;

    animation: sdb04 2s infinite; */

}

@-webkit-keyframes sdb04 {

    0% {

      -webkit-transform: translate(0, 0);

    }

    20% {

      -webkit-transform: translate(-0, 10px);

    }

    40% {

      -webkit-transform: translate(0, 0);

    }

  }

  @keyframes sdb04 {

    0% {

      transform:translate(0, 0);

    }

    20% {

      transform:translate(-0, 10px);

    }

    40% {

      transform:translate(0, 0);

    }

  }

.click-to-bottom a{

    background-color: #fff;

    border-radius: 100%;

    overflow: hidden;

    width: 70px;

    height: 70px;

    display: inline-flex;

    justify-content: center;

}

.innerBanner{position: relative;}

.innerBannerImg{

  height: 300px;

  position: relative;

  margin-top: 95px;

}

.innerBannerImg::before{

    content: "";

    position: absolute;

    left: 0;

    top: 0;

    width: 100%;

    height: 100%;

    opacity: 0.3;

    background-color: #000000;

}

.innerBannerImg img{

  height: 100%;

  width: 100%;

  object-fit: cover;

}

.innerBannerTxt{

  position: absolute;

  bottom:20%;

  transform: translateY(50%);

  left: 0;

  width: 100%;

  text-align: left;

}

.innerBannerWrap{

  display: inline-block;

  background:transparent;

  padding: 10px 20px;

  border-radius: 5px;

}

.separator{margin: 0 4px;}

.breadcrumb{background-color: transparent; padding: 0; margin-bottom: 0; justify-content: center; text-transform: none; color: var(--color-white); font-size: 12px; font-weight:300;}

ul.breadcrumb li{ font-size:15px; }

.innerBannerWrap h1 {color: var(--color-white); margin-bottom: 0; }

.breadcrumb a{color: var(--color-white);}

.homebanner, .innerbanner {

    padding: 0;

    position: relative;

}  

 

.homebanner .owl-carousel {z-index: 2; position: relative;}

.homebanner .owl-carousel .owl-dots{

    position: absolute;

    right: 0; 

    left: 0;

    bottom: 12%;

    max-width: 1110px;

    margin: 0 auto;

    text-align: left;

} 

 

.homebanner .owl-carousel .owl-dots button span{

    background-color: #ccc;

    border-color: transparent; 

    width: 30px;

    border-radius: 0;

    height: 2px;

    border: none;

    opacity: 0.8;

}

.homebanner .owl-carousel .owl-dots button.active span{

    width: 40px;

    opacity: 1;

}

.home-slider.owl-carousel .owl-nav button{ 

    transition: all 300ms ease-in-out; 

    border: none; color:  #fff !important; 

    outline: none !important;  position: relative;

    transform: none; top: auto;

    transition: all 300ms ease-in-out;

}

.home-slider .owl-nav button i{font-size: 0;} 

  

.bannerimg::before {

    content: "";

    position: absolute;

    bottom: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background-color: #000;

    transition: all 2s ease-in-out;

    z-index: 1;

    opacity: 0.2;

}



.banner-text {

    position: absolute;

    top: 50px; 

    left: 0;

    right: 0;

    width: 100%; 

    z-index: 2;

}

.banner-text ul li{

    padding: 0 10px; 

    position: relative;

    font-size: 14px;

    font-family: var(--heading-font);

    font-weight: 400;

}

.banner-text ul li a{color: var(--color-white);}

.banner-text ul li a:hover{color: var(--color-main);}

.banner-text ul li:not(:last-child):after{

    content: "";

    position: absolute;

    top: 50%;

    right: 0;

    width: 1px;

    height: 10px;

    transform: translateY(-50%);

    background-color: #fff;

}

.banner-text h1 {

    margin-bottom: 15px;

    letter-spacing: 2px;

    font-size: 16px;

    line-height: normal;

    color: #fff;

    text-transform: uppercase;

    font-weight: 300;

    font-family: var(--body-font);

}  

.banner-text h2{

    margin-bottom: 0;

    font-size: 38px;

    letter-spacing: 0;

    line-height: normal;

    color: #fff;

    font-weight: 500; 

    font-family: var(--body-font);

} 

.innerbanner .banner-text h1 {

    font-size: 30px;

}



.banner-text h3 {

    color: #c29467;

}



.banner-text .btn { 

    margin-top: 40px;

    min-width: 170px;  

    font-weight: 300;

}    



.bannertextwrap {

    max-width: 600px;

    margin: 0 auto;

    text-align: center; 

}



.bannerimg {

    position: relative;

    overflow: hidden;

    width: 100%; 

    padding-top: 39%;

}

 

.bannerimg img {

    position: absolute;

    left: 0;

    top: 0;

    width: 100%;

    height: 100%;

    object-fit: cover;

    transition: all 2s ease-in-out;

}   



/* =================

    Home Service

==================== */

.home-service{

    position: relative;

    background-color: #FBFBFB;

} 

.serviceTab{border: none; margin-bottom: -20px;}

.serviceTab li{

    width: 100%;

    margin-bottom: 20px;

}

.serviceTab li a{

    font-weight: 500;

    color: #1E1D1D;

    font-size: 20px;

    line-height: normal;

    border: 1px solid #EAEDF9;

    border-radius: 4px;

    padding: 18px 25px;

    display: flex;

    align-items: center;

    position: relative;

    background-color: #fff;

}

.serviceTab li a span{

    flex-shrink: 0;

    margin-right: 12px;

    width: 46px;

}

.serviceTab li a::after{

    content: "";

    width: 7px;

    height: 0;

    background-color: var(--color-main);

    position: absolute;

    right: 0;

    top: 0; 

    transition: all 300ms ease-in-out;

}

.serviceTab li a.active::after{

    height: 100%;

}

.serviceTab li a.active{

    color: var(--color-main);

    border-radius: 0;

}

.sicon{

    width: 67px;

    padding: 5px;

    height: 66px; 

    display: inline-flex;

    align-items: center;

    justify-content: center;

    margin: 0 auto 8px;

}

.sicon img{

    max-width: 100%;

    max-height: 100%;

    object-fit: contain;

}

.sbox {

    min-height: 100%;

    display: block;   

    overflow: hidden;

    position: relative;

    z-index: 1;  

} 

.sbox:hover .simg img{

    transform: scale(1.1);

}  

.readmore-bottom{ 

    color: #1B80B9;

    text-transform: capitalize;

    font-weight: 500;  

    font-size: 18px;

}

.readmore-bottom img{

    width: 14px!important;

}

.sbox h3 {

    color:#1E1D1D;

    margin-bottom: 10px;

    font-weight: 600;

    font-size: 19px;

    white-space: nowrap;

    text-overflow: ellipsis;

    overflow: hidden;

    width: 100%;

}

.spara {

    font-size: 13px;

    line-height: 20px;

    color: #1E1D1D;

    font-weight: 400;

    margin-bottom: 15px;

    height: 60px;

    overflow: hidden;

    display: -webkit-box;

    -webkit-line-clamp: 3; /* number of lines to show */

            line-clamp: 3; 

    -webkit-box-orient: vertical;

}   

.home-service h2{ 

    margin-bottom: 40px;

} 

.home-service .spara{

    height: 80px;

    overflow: hidden;

    text-overflow: ellipsis;

    overflow: hidden;

    -webkit-line-clamp: 4;

    line-clamp: 4;

}

.scontent{

    padding: 20px 0;

}

.simg {

    width: 100%;

    padding-top: 45%;

    overflow: hidden;

    position: relative;

} 

.simg img {

    position: absolute;

    left: 0;

    top: 0;

    width: 100%;

    height: 100%;

    object-fit: cover;

    transition: all 300ms ease-in-out;

} 

/* ========service end======= */

/* ========================= */

.home-contact{

    position: relative;

    background-color: #f3f8fb;

} 

.left-contact iframe{

    width: 100%;

    height: 100%;

}

.right-contact img{

    height: 100%;

    object-fit: cover;

    -webkit-transition: all 600ms ease-in-out;

    -moz-transition: all 600ms ease-in-out;

    transition: all 600ms ease-in-out;

}

.right-contact{

    overflow: hidden;

}

.right-contact:hover img{

    transform: scale(1.1) rotate(3deg);

}

.contact-wrap{

    padding: 40px 30px 40px 40px;

    background-color: #fff;

}

.contact-wrap .form-control{

    color: #000000;

    font-size: 15px;

    font-weight: 600;

    border-bottom: 2px solid #ccc;

}

.contact-wrap .form-control::placeholder{

    font-size: 15px;

    font-weight: 600;

    opacity: 1;

}

/* ========================= */ 

 

.owl-dots { 

    margin-top: 30px;

    text-align: center;

}



.owl-dots button {

    box-shadow: none !important;

    outline: none !important;

    border-radius: 100%;

    margin: 4px; 

    background: #F8EDED !important;

    border: 1px solid var(--color-gray) !important;

    width: 12px;

    height: 12px;

    position: relative;

}



.owl-dots button span {

    width: 5px;

    height: 5px;

    position: absolute;

    left: 50%;

    top: 50%;

    transform: translate(-50%, -50%);

    border-radius: 100%;

    overflow: hidden;

    background-color: #F8EDED;

    display: block;

}



.owl-dots button.active span {

    background-color: var(--color-gray); 

} 

/* =======footer=== */

.mainFooter { 

    position: relative;

    font-size: 12px;

    line-height: 22px;  

    color: var(--color-white); 

    font-weight: normal;

    background-color: var(--color-dark); 

    padding: 270px 0 0;

}  

.fmiddle{

    padding: 0;

}

.flogo {

    max-width: 50px;

    display: block; 

}

.fpara {

    font-size: 12px;

    line-height: 20px;

}



.fnav ul { 

    list-style: none;

    margin: 0;

    padding: 0;    

    color: var(--color-white);

} 

.fnav ul li {

    margin: 0;

    padding: 0;

    text-transform: capitalize; 

}



.fnav ul li a {

    color: inherit;

    padding: 0 15px;

}



.fnav ul li a:hover {

    color: var(--color-gray);

}

 

.fcontact ul li {

    display: flex;

    text-transform: uppercase; 

}

.fcontact ul li  span{flex-shrink: 0; margin-right: 4px;}

 

.copyright {

    padding: 12px 0; 

    color: #495960;

    border-top: 1px solid rgb(255, 255, 255, 0.1);

    font-size: 12px; 

    margin-top: 20px;

} 

.copyright a{color: inherit;}

.copyright p {

    padding-bottom: 0;

}

footer .social a{color: inherit;}

.copyright a:hover{

    color: var(--color-white);

} 

footer .social a i {  

    color: var(--color-dark) !important;

    background: var(--color-white) !important;

    font-size: 13px; 

    margin-right: 6px;

}  

footer .social a:hover i{

    transform: rotate(360deg);

}

footer .social{margin-bottom: -14px;}

footer .social a{margin-bottom: 14px; display: inline-flex; align-items: center; padding: 0;}

.social a {

    flex-shrink: 0;

    padding: 0 4px;

    display: inline-flex;

}



.social a i {

    background-color: #c29467;

    width: 25px;

    height: 25px;

    display: flex;

    justify-content: center;

    align-items: center;

    color: #fff;

    border-radius: 100%;

    transition: all 300ms ease-in-out;

}



.social a:hover .fa {

    color: #c29467;

    background-color: #fff;

}

      

/* ===========================

    Home Blog section start

============================== */ 

.home-blog{ 

    background: #F9FBFC;

    position: relative; 

} 

.home-blog h2{margin-bottom: 30px;}

.blog-list .row{margin: -10px;}

.blog-list .row [class*="col-"]{

    padding: 10px;

}

.blog-box{

    background-color: #fff;

    display: block;

    min-height: 100%; 

    position: relative;

}

.blog-box .blog-date{

    position: absolute;

    top: 10px;

    right: 10px;

    padding: 4px 8px;

    background: #fff;

    font-size: 12px;

    border-radius: 20px;

    text-transform: capitalize;

    font-weight: 500;

    box-shadow: 0 0 15px rgb(0 0 0 / 10%);

}

.bcontent{

    padding: 20px;

}

.bcontent h3{

    height: 48px; 

    font-weight: 500;

    margin-bottom: 12px;

}

.bimg{

    position: relative;

    overflow: hidden;

    width: 100%;

    padding-top: 62%;

}

.blog-box:hover .bimg img{

    transform: scale(1.2) rotate(3deg);

}

.bimg img{

    position: absolute;

    left: 0;

    top: 0;

    width: 100%;

    height: 100%;

    object-fit: cover;

    transition: all 1s ease-in-out;

}

.bdate{

    color: #c29467;

    font-size: 14px;

    margin-bottom: 10px;

    font-weight: 600;

}

.bpara{

    color: var(--color-dark);

    font-weight: 300;

    font-size: 14px;

    line-height: 19px;

    margin-bottom: 12px;

}

.readmore{

    font-size: 16px; line-height: normal;

    font-weight: 500;

    font-family: var(--body-font);

    color: #1B80B9;

}

.blog-row{

    margin: -15px;

}

.blog-col{

    padding: 15px;

    width: 26%;

}

.blog-col:nth-child(1){

    width: 48%;

}

.home-blog .bcontent h3{height: auto;}

.home-blog .blog-col .bpara{display: none; margin-bottom: 0;}

.home-blog .blog-col .readmore{display: none; margin-bottom: 0;}

.home-blog .blog-col .bimg{padding-top: 117%; z-index: 2;} 

.home-blog .blog-col .blog-box{background-color: transparent;}

.home-blog .blog-col .bcontent{padding: 15px 0 0 0;}

.home-blog .blog-col:nth-child(1) .bcontent{padding: 15px; padding-right: 35%; position: relative;z-index: 1;}

.home-blog .blog-col:nth-child(1) .bcontent::after{

    content: "";

    position: absolute;

    top: -95px;

    right: -25px;

    width: 120px;

    height: 120px;

    background-color: #E7F6F5;

    z-index: -1;

}

.home-blog .blog-col:nth-child(1) .blog-box{background-color: #fff;}

.home-blog .blog-col:nth-child(1){padding-right: 30px;}

.home-blog .blog-col:nth-child(1) .bimg{padding-top: 62%;}

.home-blog .blog-col:nth-child(1) .bpara{display: block;}

.home-blog .blog-col:nth-child(1) .readmore{display: block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}





.blog-page .readmore{font-size: 14px;}

.blog-page .spara{height: 40px; -webkit-line-clamp: 2; line-clamp: 2;}

.single-blog-wrap{

    position: relative;

} 

.recent_blog{

    background-color: var(--color-black);

    color: var(--color-white);

    margin-bottom: 20px;

    padding: 15px;

}

.recent_blog ul{ margin-left: 15px;}

.recent_blog ul li{ font-size: 14px; line-height: 18px;  margin-bottom: 15px;}

.recent_blog ul li a{color: var(--color-white);}

.recent_blog h2{

    color: #fff;

    margin-bottom: 12px;

    font-weight: 500;

    background-color: var(--color-blue);

    font-size: 20px; padding: 10px;

}

.wp-block-latest-posts.wp-block-latest-posts__list li{

    margin-bottom: 12px;

    font-size: 13px; line-height: normal;

}



.single-blog-wrap .content-img{

    background-color: #f5f5f5;

}



.single-blog-wrap .content-img img{

    height: 400px;

    width: 100%;

    object-fit: cover;

}



.single-blog-wrap .blog-date{

    padding-top: 5px;

}







.comment-form-comment label{width: 100%;}

.comment-form-comment textarea{

    border: 1px solid #ccc;

    border-radius: 10px;

    resize: none;

    width: 50%;

}

.form-submit .submit{

    -webkit-border-radius: 26px;

    -moz-border-radius: 26px;

    border-radius: 26px;

    border: 1px solid var(--color-dark);

    text-align: center;

    font-size: 13px;

    font-weight: 400;

    text-transform: uppercase;

    padding: 0 20px;

    outline: none;

    font-family: var(--btn-font);

    letter-spacing: 1px;

    color: var(--color-dark);

    position: relative;

    height: 40px;

    line-height: 38px;

    min-width: 110px;

    z-index: 1;

    overflow: hidden;

    cursor: pointer;

    background-color: var(--color-white);

}

.nav-links{display: flex; grid-gap: 20px; justify-content: space-between;}

/* =============================

    Home About section start

================================ */  

.abt-right{

    font-size: 13px;

    line-height: 19px;  

    color: var(--color-dark);

    font-weight: 300;

}

.abt-right p{

    max-height: 76px;

    overflow: hidden;

    overflow: hidden;

   display: -webkit-box;

   -webkit-line-clamp: 4; /* number of lines to show */

    line-clamp: 4; 

   -webkit-box-orient: vertical;

}   

.abt-right h3{

    color: var(--color-dark); 

    font-size: 17px; line-height: normal;

    font-family: var(--body-font); margin-bottom: 12px;

    font-weight: 400; 

}

.abt-left h3{

    color: var(--color-dark);

    text-transform: uppercase;

    font-size: 16px; line-height: normal;

    font-family: var(--body-font); margin-bottom: 12px;

    font-weight: 400; letter-spacing: 2px;

}

.abt-left h4{

    color: var(--color-dark);

    font-size: 25px;

    line-height: normal;

    font-family: var(--body-font);

    margin-bottom: 12px;

    font-weight: 500; 

}

/* ===========================

    TESTIMONIAL PAGE DESIGN

============================== */ 

.tbox {

    position: relative;

    border: 4px solid #1bd6c4;

    border-radius: 50px 0 50px;

    padding: 40px 40px 20px;

    font-size: 16px;

    font-style: italic;

    line-height: 25px;

    background-color: #ebfffd;

    -webkit-transition: all 300ms ease-in-out;

    -moz-transition: all 300ms ease-in-out;

    transition: all 300ms ease-in-out;

}

.tbox:hover{

    background: var(--color-white);

}

.tbox::before, .tbox::after{

    content: "";

    width: 45px;

    height: 45px;

    background: #1bd6c4 url(../images/quote.png) no-repeat center;

    background-size: 70%;

    position: absolute;

    left: -10px;

    top: -10px;

    border-radius: 100%;

    transform: rotateY(-180deg);

} 

.tbox::after{

    transform: none;

    right: -10px;

    left: auto;

    bottom: -10px;

    top: auto;

}

.parascroll{

    height: 170px;

    overflow-y: auto;

}

.ticon{flex-shrink: 0;}

.tbox:hover .ticon img{

    background-color: var(--color-main);

}

.ticon img{

    background: #fff;

    border-radius: 100%;

    width: 50px;

    height: 50px;

    padding: 7px;

    margin-right: 10px;

    -webkit-transition: all 300ms ease-in-out;

    -moz-transition: all 300ms ease-in-out;

    transition: all 300ms ease-in-out;

} 

.thead{

    font-style: normal;

}

.thead h3{

    font-size: 17px;

    color: var(--color-black);

    margin-bottom: 0;

}

.thead h3 span{

    font-size: 70%;

    display: block;

    color: var(--color-main);

}

/* ==============================

        SERVICE PAGE DESIGN

================================= */

.innersbox .scontent{

    padding: 15px;

}

.innersbox{

    box-shadow: 0 0 15px #ccc;

    background-color: #fff;

}

.innersbox .simg{

    padding-top: 60%;

}

.innersbox .scontent .readmore:hover{

    color: var(--color-main);

}

 

/* =========================

    SINGLE PAGE DESIGN

============================ */

.others-section{

    background-color: #f2f5ff;

}

.others-section .latest-menu-box{

    background-color: #fff;

    padding: 10px;

}

.others-section .latest-menu-box figure{margin-bottom: 10px;} 

.single-content h2:after{

    content: "";

    display: block;

    width: 16%;

    height: 3px;

    margin-top: 15px;

    background-color: var(--color-main);

}

.single-content h2::before{

    content: "";

    display: block;

    width: 8px;

    height: 8px;

    border-radius: 100%;

    position: absolute;

    bottom: -2px;

    left: 8%;

    margin-left: -2px;

    margin-top: 15px;

    background-color: var(--color-main);

}

.single-pic{

    float: right;

    position: relative;

    max-width: 450px;

    margin: 0 0 20px 40px;

}

.single-pic img {

    display: block;

    box-shadow: 10px 10px 0 #c29467;

}

.single-pic::before{

    content: "";

    width: 200px;

    height: 200px;

    position: absolute;

    right: -30px;

    top: -40px;

    z-index: -1;

    background: url(../images/dot-pattern.png) repeat top right;

    opacity: 0.2;

    background-size: 15px;

}

.single-pic::after{

    content: "";

    width: 200px;

    height: 200px;

    position: absolute;

    left: -30px;

    bottom: -35px;

    z-index: -1;

    background: url(../images/dot-pattern.png) repeat top right;

    opacity: 0.2;

    background-size: 15px;

}

/* ==========================

    ABOUT PAGE DESIGN

============================= */

.about-page .about-img{

    position: relative;

}

.about-page .about-img::before{

    content: "";

    position: absolute;

    left: -20px;

    top: -20px;

    width: 200px;

    height: 200px;

    background-color: var(--color-main);

    z-index: -1;

}

.about-page .about-img::after{

    content: "";

    position: absolute;

    right: -20px;

    bottom: -20px;

    width: 200px;

    height: 200px;

    background-color: var(--color-main);

    z-index: -1;

}

/* ========================

    CONTACT PAGE DESIGN

=========================== */

.contact-form {

    padding: 30px;

    background-color: #F1EEEE;

    margin-top: 50px;

    border: 2px solid var(--color-main);

    position: relative;

}

.contact-form  h2{

    font-size: 32px;

    line-height: normal;

}

.contact-form::before{

    content: "";

    width: 200px;

    height: 200px;

    position: absolute;

    right: -30px;

    top: -40px;

    z-index: -1;

    background: url(../images/dot-pattern.png) repeat top right;

    opacity: 0.2;

    background-size: 15px;

}

.contact-form label{

    margin-bottom: 0;

    display: block;

}

.contact-form::after{

    content: "";

    width: 200px;

    height: 200px;

    position: absolute;

    left: -30px;

    bottom: -35px;

    z-index: -1;

    background: url(../images/dot-pattern.png) repeat top right;

    opacity: 0.2;

    background-size: 15px;

}

.wpcf7-spinner{

    position: absolute;

    right: 0;

    top: 9px;

}

.wpcf7-form-control-wrap input.f12c{

    padding: 0 10px;

    font-size: 15px;

    border: 1px solid rgb(11 36 113 / 20%);

    margin-bottom: 2px;

    height: 48px;

    width: 100%;

    margin-bottom: 5px;

}

.captcha-col .wpcf7-form-control-wrap{display: flex; align-items: center; flex-wrap: wrap;}

.wpcf7 form.invalid .wpcf7-response-output{display: none;}



.contact-box{

    font-size: 20px;

    display: flex;

    line-height: normal;

    flex-direction: column;

    align-items: center;

    text-align: center;

    margin-top: 50px;

    padding: 20px;

    border: 2px solid var(--color-main);

}

.contact-box a{color: inherit;}

.contact-box a:hover{color: var(--color-main);}

.contact-box span{

    flex-shrink: 0;

    margin-bottom: 15px;

    width: 50px;

    height: 50px;

    display: inline-flex;

    align-items: center;

    justify-content: center;

    background: #c29467;

    color: #fff;

    font-size: 30px;

}

/* ================================

=================================== */

.explore-section{

    background-color: #F1EEEE;

}

.explore-box{

    color: var(--color-gray);

    font-size: 16px;

    line-height: normal;

    font-family: var(--body-font);

    text-align: center;

    font-weight: normal;

}

.explore-box figure{

    position: relative;

    padding-top: 46%;

    width: 100%;

    overflow: hidden;

}

.explore-box figure img{

    position: absolute;

    left: 0;

    top: 0;

    width: 100%;

    height: 100%;

    object-fit: cover;

}

.explore-box h2{

    margin-top: -15px;

    margin-bottom: 15px;

    color: var(--color-black);

}

.explore-slider .owl-dots{margin-top: 20px;}

.explore-slider .owl-dots button{margin: 4px 16px;}

.explore-slider .owl-dots button::after{

    content: "";

    position: absolute;

    width: 22px;

    height: 1px;

    right: -27px;

    background-color: var(--color-gray);

}

.explore-slider .owl-dots button:last-child:after{content: none;}

/* ================================

        CATEGORY SECTION

=================================== */

.menu-section{background-color: #F9FBFC;}

.gap20{margin: -10px;}

.gap20 [class*="col-"]{padding: 10px;}

.cate-box{

    text-align: center;

    position: relative;

    width: 100%; 

} 

.cate-box figure{

    width: 260px;

    height: 260px;

    border-radius: 100%;

    overflow: hidden;

    background-color: #fff;

    display: inline-flex;

    border: 1px solid #EFF1F5;

}

.cate-box figure img{

    width: 190px;

    height: 190px;

    margin: auto;

    object-fit: contain;

    object-position: center;

    transition: all 300ms ease-in-out;

}

.cate-box:hover figure img{

    transform: scale(1.4);

}

.cate-box h3{

    color: var(--color-dark);

    font-size: 18px; line-height: normal;

    text-align: center;

    font-family: var(--body-font);

    font-weight: 500;

    width: 85%;

    margin: 15px auto 0;

}

.category-menu .row, .latest-menu .row{

    margin: -10px;

}

.category-menu .row .cate-col, .latest-menu .row .cate-col{

    padding: 10px;

} 

/* ===================================

        LATEST MENU SECTION

====================================== */

.latest-menu-box{

    display: block;

    position: relative;

}

.latest-menu-box h3{

    position: absolute;

    left: 50%;

    top: 30%;

    width: 100%; 

    padding: 10px;

    transform: translate(-50%, -50%);

    z-index: 1; text-align: center;

    color: var(--color-white);

    font-size: 26px; line-height: normal;

    opacity: 0;

    transition: all 300ms ease-in-out;

}

.latest-menu-box:hover h3{

    opacity: 1;

    top: 50%;

}

.category-menu-list .latest-menu-box:hover::after{

    opacity: 0.8;

}

.latest-menu-box figure{

    position: relative;

    padding-top: 100%;

    width: 100%;

    overflow: hidden;

}

.latest-menu-box::after{

    content: "";

    position: absolute;

    left: 50%;

    top: 50%;

    transform: translate(-50%, -50%) scale(0);

    width: 100%;

    height: 100%;

    background-color: var(--color-main);  

    transition: all 300ms ease-in-out;

}

.latest-menu-box:hover::after{

    transform:  translate(-50%, -50%) scale(1);

    opacity: 0;

} 

.latest-menu-box figure img{

    position: absolute;

    left: 0;

    top: 0;

    width: 100%;

    height: 100%;

    object-fit: cover;

}

.view-all{

    border: 1px solid #DCD2D2;

    height: 38px;

    line-height: 36px;

    padding: 0 20px;

    font-family: var(--body-font);

    font-weight: 400;

    font-size: 13px;

    color: var(--color-black);

}

.view-all:hover, .view-all:focus{

    background-color: var(--color-main);

    color: var(--color-white);

    border-color: var(--color-main);

}

/* =======================

========================== */

.home-location{

    background-color: #EFE8DF;

}

.location-content h2{

    padding-bottom: 20px;

    margin-bottom: 10px;

    border-bottom: 1px solid #ccc;

}

.location-content p{

    color: var(--color-gray);

    font-weight: 400;

    margin-bottom: 15px;

}

.location-content h3{

    color: var(--color-black);

    font-size: 30px; line-height: normal;

}

/* ====================================

            CONTACT FORM

======================================= */

.big-bg img{

    width: 100%;

    object-fit: cover;

}

.form-wrap{

    background-color: #F1EEEE;

}

.contact-form-home{

    padding: 60px 40px;

}

.contact-form-home .form-control{height: 44px;}

textarea.form-control{height: 90px !important;}

.contact-form-home label{margin-bottom: 0; display: block;}

.contact-form-home span{display: block;}

.contact-form-img{height: 100%; width: 100%; object-fit: cover;}

/* ========================

    NEWSLETTER SECTION

=========================== */

.subscription{

    background: #1B80B9;

    margin-bottom: -250px;

    position: relative;

    z-index: 1;

}

.newsletter-img{height: 330px; object-fit: cover;}

.subscription .sec-head{ 

    color: var(--color-gray); 

    padding: 40px 80px 40px 40px;

    margin: auto 0;

}

.subscription .sec-head h2{font-size: 38px; line-height: normal; font-weight: 600; color: #fff; text-transform: initial;}

.es-form-field-container{display: flex; width: 100%;}

.es-form-field-container .gjs-row:nth-child(1){width: 100%;}

.es-form-field-container .gjs-cell [type="email"]{

    height: 46px;

    border: 1px solid var(--color-white);

    padding: 10px 10px 10px 20px;  

    background-color: transparent;

    font-size: 14px;

    color: var(--color-white);

    font-weight: 400;

    letter-spacing: 0;

    -webkit-border-radius: 10px 0 0 10px;

    -moz-border-radius: 10px 0 0 10px;

    border-radius: 10px 0 0 10px;

    width: 100%; 

    box-shadow: none !important;

    outline: none !important;

    font-family: var(--body-font); 

}

.es-form-field-container .gjs-cell [type="email"]:focus{border-color: var(--color-gray);}

.es-form-field-container .gjs-cell [type="email"]::placeholder{

    color: #98D6F3;  

    font-size: 12px;  

}

.es-form-field-container .gjs-cell [type="submit"]{

    -webkit-border-radius: 0 10px 10px 0;

    -moz-border-radius: 0 10px 10px 0;

    border-radius: 0 10px 10px 0;

    text-align: center;

    font-size: 13px;

    padding: 0 25px;

    outline: none;

    box-shadow: none !important;

    letter-spacing: 0;

    position: relative;

    height: 46px;

    line-height: 46px;

    text-transform: uppercase;

    min-width: auto;  

    z-index: 1;

    cursor: pointer;

    overflow: hidden;

    font-family: var(--btn-font);

    color: #0093D8;

    background: var(--color-white);

    border: 1px solid var(--color-white);

    border-left: 0;

    transition: all 300ms ease-in-out;

}

.es-form-field-container .gjs-cell [type="submit"]:hover{

    background-color: var(--color-black);

    color: var(--color-white);

    border-color: var(--color-black);

}

/* =============================

        small-paragraph

================================ */

.small-paragraph{

    padding: 35px 0;

    font-size: 20px;

    line-height: 26px;

    font-weight: 400;

    font-family: var(--body-font);

    color: var(--color-dark);

}

/* =============================

        CLIENT LOGO SECTION

================================ */



.client-logo img{

    height: 120px;

    object-fit: contain;

    object-position: center;

}

/* ============================

        PRODUCT PAGE

=============================== */

.product-box{ 

    min-height: 100%; 

}



.product-box figure{margin-bottom: 10px; background-color: #fff; padding: 10px;border: 1px solid #EFF1F5;}

.listing-page{padding-top: 100px; background: #F9FBFC;}







.listing-wrap .cate-box{

    background-color: #ffffff;

    padding: 10px;

    margin-bottom: 15px;

    border: #EFF1F5 solid 1px;

}



.listing-wrap .cate-box figure{

    height: auto;

    width: auto;

    border-radius: 0px;

    background-color: transparent;

    border: none;

}



.listing-wrap .cate-box figure img{

    padding: 0px;

    height: 220px;

    width: auto;

}



.listing-wrap .cate-box h3{

    margin-bottom: 15px;

    font-size: 16px;

    width: 100%;

    display: block;

    display: -webkit-box;

    -webkit-line-clamp: 2;  

    -webkit-box-orient: vertical;

    overflow: hidden;

    text-overflow: ellipsis;    

}





.prod-single-cont h2{ 

    font-size: 18px;

    font-weight: 700;

}



.prod-single-cont h3{ 

    font-size: 16px;

    font-weight: 700;

}



.prod-single-cont ul{

    margin-left: 16px;

}



h3.blue-title{

    background-color: #1B80B9;

    color: #fff;

    padding: 10px;

}



.prod-single-cont table{

    width: 100%;

    font-size: 13px;

}



.prod-single-cont table td{

    padding: 5px;

}



.prod-single-cont table th{

    padding: 5px;

}





.prod-single-cont table tr:nth-child(odd) {background: #E7F6F5}





.innerBanner.single-prod .innerBannerTxt{

    position: relative;

    bottom: inherit;

    transform: inherit;

    text-align: left;

    top: inherit;

    background-color: #F9FBFC;

    padding: 10px;

}



.single.single-product header.headerMain{

    position: relative;

}



.innerBanner.single-prod .innerBannerWrap{

    padding: 0px;

    background-color: transparent;

}



.single-prod-page{

    padding-bottom: 100px;
    background-color: #F9FBFC;

}

.prod-single-image{ background-color:#fff; padding:20px; border:#EFF1F5 solid 1px; }



.comments-area{ display: none; margin-top: 30px; background-color: #f5f5f5; padding: 30px; border: #ddd solid 1px;}

.comments-area .comment-respond .comment-form input[type="text"],

.comments-area .comment-respond .comment-form input[type="email"],

.comments-area .comment-respond .comment-form input[type="url"],

.comments-area .comment-respond .comment-form textarea {

    display: block;

    border: 1px solid #d1d1d1;

    height: 50px;

    line-height: 50px;

    width: 100%;

    padding: 0 10px;

}

.comments-area .comment-respond .comment-form textarea {

    height: 120px;

}

body.single-post .comments-area .comment-form-comment textarea {

    margin-bottom: 10px !important;

}

body.single-post .comment-form-cookies-consent input[type="checkbox"] {

    margin-right: 10px;

}

body.single-post .comments-area input[id="submit"] {

    background: #fff;

    border: #3f3f41 solid 1px;

    padding: 14px 30px !important;

    position: relative;

    line-height: 100%;

    border-radius: 50px;

    color: #3f3f41;

    font-size: 15px;

    font-weight: 500;

    display: inline-block;

    height: auto;

}



body.single-post .comments-area input[id="submit"]:hover,

body.single-post .comments-area input[id="submit"]:focus {

    background: #3f3f41;

    color: #fff;

    outline: none;

    border: #3f3f41 solid 1px;

}



ol.comment-list{}

ol.comment-list li{}

ol.comment-list li ol.children{ margin-left: 30px; }

ol.comment-list li .reply{ padding: 10px 0px; }

ol.comment-list li .reply a{ display: inline-block; background-color: #0070c0; padding: 5px 10px; border-radius: 3px; color: #fff; line-height: 15px; }

ol.comment-list li .comment-author{ padding-bottom: 10px; }

a#cancel-comment-reply-link{  display: inline-block; margin: 0px 5px; background-color: #0070c0; padding: 5px 10px; border-radius: 3px; color: #fff; line-height: 15px; font-size:13px; }



.navigation.post-navigation{ display: none; }



ol.commentlist li{

    list-style-type: none;

    background-color: #fff;

    padding: 15px;

    margin-top: 10px;

}



.reply a{ color: #1b80b9; text-decoration: underline;}



.home-about ul{

    margin-left: 15px;

}



.home-about ul li{

    font-size: 16px;

    color: #000;

    margin-bottom: 10px;

}



.about-content ul{

    margin-left: 15px;

}



.about-content ul li{

    font-size: 16px;

    color: #000;

    margin-bottom: 10px;

}


.gray-bg{
    background-color: #F9FBFC;
}

.page-template-products header.headerMain{
    position: relative;
}

.prod-topbar{
    padding-bottom: 30px;
}

div.asl_w .probox .promagnifier{ height:40px !important; }

div.asl_w .probox .promagnifier .innericon svg {
    fill: #000 !important;
}

.prod-search #ajaxsearchlite1 .probox .proinput input, div.asl_w .probox .proinput input{ color:#000 !important }

.prod-filter{ margin-left:20px; }

.prod-search .probox{ background-color:#fff !important; border:#D9DEDD solid 1px !important; background-image: none !important; height: 40px !important; min-width: 300px;}

.prod-search .probox .promagnifier{ background-color:#fff !important; border:#D9DEDD solid 1px !important; background-image: none !important; border:none !important; }


.prod-search .proinput input.orig ::-webkit-input-placeholder { /* Edge */
  color: #000 !important;
}

.prod-search .proinput input.orig :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000 !important;
}

.prod-search .proinput input.orig ::placeholder {
  color: #000 !important;
}

.prod-search div.asl_w{ box-shadow:none !important; background-image:none !important; background-color:transparent !important; }

div.asl_m .probox .proinput input{ height:40px !important; }

.topbar-left{ color:#232B2E; font-weight:15px; }

div.asl_w .probox .promagnifier:focus{ outline:none; }

.navbar-collapse ul.mega-sub-menu li{ margin-right: 0px !important; text-align: center !important; }

.mega-sub-menu .widget_media_image{
	background-color: #fff !important;
	text-align: center !important;
}

.mega-sub-menu .widget_media_image img{
	height: 150px !important;
	width: auto !important;
	object-fit: contain !important;
	background-color: #fff;
}

.mega-sub-menu .mega-menu-link{ color: #fff !important; text-align: center !important; line-height: 20px !important; }

.mega-menu-column ul{ padding: 0px 15px !important; }

ul.mega-sub-menu .mega-menu-column:nth-child(1){}
ul.mega-sub-menu .mega-menu-column:nth-child(2){}
ul.mega-sub-menu .mega-menu-column:nth-child(3){}
ul.mega-sub-menu .mega-menu-column:nth-child(4){}

.prod-filter{
	position: relative;
}

.prod-filter select{
    height: 40px;
    border: #ddd solid 1px;
    border-radius: 3px;
    color: #666;
    padding: 0px 5px;
}

.prod-filter select:focus-visible{
	outline: none;
}

.prod-filter .btn{
	border-radius: 3px;
	border-color: #ddd !important;
	text-transform: none;
    letter-spacing: normal;
    font-size: 14px;
}

.prod-filter .dropdown-menu.show{
	top: 10px !important;
}

.prod-filter  .dropdown-menu a.dropdown-item{
	font-size: 13px;
    line-height: 15px;
}

.prod-filter  .dropdown-menu a.dropdown-item:hover{
	color: var(----color-blue);
}


.es_subscription_message.success{
	display: block;
	background-color: #fff;
	padding: 10px;
	line-height: 16px;
    font-size: 13px;
}


.innerPage ul, .mission-section ul{ margin-left: 15px; }

.single-product .breadcrumb a, .single-product ul.breadcrumb li, .page-template-products .breadcrumb a, .page-template-products ul.breadcrumb li{
	color:#000;	
}


.prod-single-image {
    background-color: transparent !important;
}



